{% extends "layout.html" %}

{% if session.user_id %}

{% block head %}{{ super() }}{% endblock %}

{% block content %}
{{ super() }}

<div class="backgroundGradient">

<form action="/gigAdd" method="POST">
<h2>Lisää uusi keikka</h2>
<br>
<b>Huom!<b><p> Jos käytät selaimena Safaria, syötä keikan päivämäärä muodossa YYYY/MM/DD!</p>
<br>
<p>Keikan nimi*:<br>
<input type="text" name="name" maxlength="50" required></p>
<br>
<p>Päivämäärä*:<br>
<input type="date" name="date" required></p>
<br>
<p>Kellonaika:*<br>
<input type="time" name="time" required></p>
<br>
<p>Paikka:<br>
<input type="text" name="place" maxlength="50"></p>
<br>
<p>Vapaamuotoinen kuvaus:<br>
<input type="text" name="descr"maxlength="70"></p>
<br>
<p>Kokoonpano*:<br>
<input type="radio" name="comp" value="Koko_orkesteri">Koko orkesteri
<input type="radio" name="comp" value="Jouset">Jouset
<input type="radio" name="comp" value="Puut">Puut
<input type="radio" name="comp" value="Vasket">Vasket</p>
<br>
<p>*: pakollinen kenttä</p>
<br>
<input type="submit" value="Lisää uusi keikka">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>

</div>

{% endblock %}

{% endif %}
