<! DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/static/style.css">
</head>

<title>SOSSun keikkasovellus!</title>

{% if session.user_id %}
<body>
<ul class="ul.dropdown">
        <li><a href="/">Etusivu</a></li>
        <li class="dropdown">
                <a href="/keikkasivu" class="dropbtn">Keikkasivu</a>
                <div class="dropdown-content">
                <a href="/omatKeikat">Omat keikat</a>
                <a href="/tulevatKeikat">Tulevat keikat</a>
		{% if session.role == 'admin' %}
                <a href="/newGig">Lisää keikka</a>
                {% endif %}
                </div>
        </li>
        <li><a href="/userinfo">Oma profiilisi</a></li>
        {% if session.role == 'admin' %}
        <li><a href="/admin">Admin</a></li>
        {% endif %}
	<li><a href="/logout">Kirjaudu ulos</a></li>
</ul>

<br>
<div class="backgroundGradient">

<form action="/gigAdd" method="POST">

<p>Keikan nimi*:<br>
<input type="text" name="nimi" required></p>
<br>
<p>Päivämäärä*:<br>
<input type="date" name="pvm"></p>
<br>
<p>Kellonaika:<br>
<input type="time" name="aika"></p>
<br>
<p>Paikka:<br>
<input type="text" name="paikka"></p>
<br>
<p>Vapaamuotoinen kuvaus:<br>
<input type="text" name="kuvaus"></p>
<br>
<p>Kokoonpano*:<br>
<input type="radio" name="kokoonpano" value="Koko_orkesteri">Koko orkesteri
<input type="radio" name="kokoonpano" value="Jouset">Jouset
<input type="radio" name="kokoonpano" value="Puut">Puut
<input type="radio" name="kokoonpano" value="Vasket">Vasket</p>
<br>
<p>*: pakollinen kenttä</p>
<br>
<input type="submit" value="Lisää uusi keikka">
</form>

{% endif %}
</div>
</body>
</html>
