{% extends "layout.html" %}

{% if session.user_id %}

{% block head %}{{ super() }}{% endblock %}

{% block content %}
{{ super() }}

<div class="backgroundGradient">

<form action="/gigAdd" method="POST">

<p>Keikan nimi*:<br>
<input type="text" name="name" required></p>
<br>
<p>Päivämäärä*:<br>
<input type="date" name="date"></p>
<br>
<p>Kellonaika:<br>
<input type="time" name="time"></p>
<br>
<p>Paikka:<br>
<input type="text" name="place"></p>
<br>
<p>Vapaamuotoinen kuvaus:<br>
<input type="text" name="descr"></p>
<br>
<p>Kokoonpano*:<br>
<input type="radio" name="comp" value="Koko_orkesteri">Koko orkesteri
<input type="radio" name="comp" value="Jouset">Jouset
<input type="radio" name="comp" value="Puut">Puut
<input type="radio" name="comp" value="Vasket">Vasket</p>
<br>
<p>*: pakollinen kenttä</p>
<br>
<input type="submit" value="Lisää uusi keikka">
</form>

</div>

{% endblock %}

{% endif %}
