{% extends "layout.html" %}

{% if session.user_id %}

{% block head %}{{ super() }}{% endblock %}

{% block content %}
{{ super() }}

<div class="backgroundGradient">
<h3>Admin-oikeudelliset käyttäjät</h3>
<br>
<br>
<table>
        <thead>
        <tr>
                <th>Käyttäjä</th>
		<th></th>
        </thead>
        {% for a in admins %}
        <tr>
                <td>{{ a[1] }}</td>
                <td><a href="/delAdmin?sid={{ a[0] }}" onclick="return confirm('Tahdotko varmasti poistaa käyttäjän {{ a[1] }} adminoikeudet?');">Poista oikeudet</td>
        </tr>
        {% endfor %}
</table>
<br>
<h3>Peruskäyttäjät</h3>
<br>
<br>
<table>
	<thead>
	<tr>
		<th>Käyttäjä</th>
		<th></th>
	</thead>
	{% for nu in normal_users %}
	<tr>
		<th>{{ nu[1] }}</td>
		<td><a href="/addAdmin?sid={{ nu[0] }}">Lisää adminoikeudet</td>
	</tr>
	{% endfor %}
</table>

</div>

{% endblock %}

{% endif %}

