<! DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/static/style.css">
</head>
{% if session.user_id %}
<body>
<ul>
        <li><a href="/">Etusivu</a></li>
        <li class="dropdown">
                <a href="/keikkasivu" class="dropbtn">Keikkasivu</a>
                <div class="dropdown-content">
                <a href="/omatKeikat">Omat keikat</a>
                <a href="/tulevatKeikat">Tulevat keikat</a>
		{% if session.role == 'admin' %}
                <a href="/newGig">Lisää keikka</a>
                {% endif %}
                </div>
        </li>
        <li><a href="/userinfo">Oma profiilisi</a></li>
        {% if session.role == 'admin' %}
        <li><a href="/admin">Admin</a></li>
        {% endif %}
        <li><a href="/logout">Kirjaudu ulos</a></li>
</ul>

<div class="backgroundGradient">
<h3>Admin-oikeudelliset käyttäjät</h3>
<br>
<br>
<table>
        <thead>
        <tr>
                <th>Käyttäjä</th>
		<th></th>
        </thead>
        {% for a in admins %}
        <tr>
                <td>{{ a[1] }}</td>
                <td><a href="/delAdmin?sid={{ a[0] }}" onclick="return confirm('Tahdotko varmasti poistaa käyttäjän {{ a[1] }} adminoikeudet?');">Poista oikeudet</td>
        </tr>
        {% endfor %}
</table>
<br>
<h3>Peruskäyttäjät</h3>
<br>
<br>
<table>
	<thead>
	<tr>
		<th>Käyttäjä</th>
		<th></th>
	</thead>
	{% for k in kayttajat %}
	<tr>
		<th>{{ k[1] }}</td>
		<td><a href="/addAdmin?sid={{ k[0] }}">Lisää adminoikeudet</td>
	</tr>
	{% endfor %}
</table>
{% endif %}
</div>
</body>
</html>

