{% extends "layout.html" %}

{% if session.user_id %}

{% block head %}{{ super() }}{% endblock %}

{% block content %}
{{ super() }}
<div class="container">

<div>
{% for i in info %}
<h2>{{ i[1] }} </h2>

<br>
Päivämäärä: {{ i[2] }}<br>
<br>
Aika: {{ i[3] }}<br>
<br>
Keikkapaikka: {{ i[4] }}<br>
<br>
{% endfor %}
<br>
</div>

<div>
<h3>Keikan kokoonpano:<br></h3>
<br>
<dl>
{% for g in range(0,gig_instr|length,2): %}
	<dt>{{ gig_instr[g] }}:</dt>
	<dd>
	{% for player in gig_instr[g+1]  %}
		<li>{{ player }}</li>
		<br>
	{% endfor %}
	</dd>	
<br>
{% endfor %}
</dl>
</div>

<div>
{% if session.role == 'admin' %}
<h3>Ketä kutsuisi keikalle?<br></h3>
<p>Hei admin! Tässä näet aktiiviset soittajat, jotka eivät ole vielä ilmoittautuneet keikalle!</p>
<br>
<dl>
{% for m in range(0,maybes|length,2): %}
	<dt>{{ maybes[m] }}:</dt>
	<dd>
	{% for player in maybes[m+1]  %}
		<li>{{ player }}</li>
		<br>
	{% endfor %}
	</dd>	
<br>
{% endfor %}
</dl>
{% endif %}
</div>

</div>
{% endblock %}
{% endif %}


