{% extends "layout.html" %}

{% if session.user_id %}

{% block head %}{{ super() }}{% endblock %}

{% block content %}
{{ super() }}
<div class="backgroundGradient">

<h2>Muokkaa tietojasi</h2>

{% if session.user_id %}
<form action="/userUpdated" method="POST">

Käyttäjätunnus: {{session.username}}
<br>

<p>Soittimesi:</p>
<br>
{% for i in instr %}
<input type="checkbox" name="soitin" value="{{ i[0] }}">{{ i[1] }}<br>
{% endfor %}
<br>
<br>
Osallistutko aktiivisesti tällä kaudella orkesterin toimintaan: <br>
<br>
<p>
<input type="radio" name="active" value="True">Kyllä
<input type="radio" name="active" value="False">Ei
<p>
<br>
<b>Huom!</b> 
<p> Jos olet jo ilmoittautunut keikalle soittimella jota et enää soita, ei ilmoittautumisesi poistu vaikka poistaisitkin soittimen tiedoistasi!</p>
<p>Muistathan siis perua mahdolliset turhat ilmoittautumiset Omat keikat -osiosta!</p> 
<input type="submit" value="Lähetä">
<br>
</form>
<a href="/userinfo">Peruuta</a>
<br>

</div>
{% endblock %}

{% endif %}
