<! DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/static/style.css">
</head>

<title>SOSSun keikkasovellus!</title>

<h2>Muokkaa keikan tietoja</h2>

{% if session.user_id %}
<body>
<ul>
        <li><a href="/">Etusivu</a></li>
        <li class="dropdown">
                <a href="/keikkasivu" class="dropbtn">Keikkasivu</a>
                <div class="dropdown-content">
                <a href="/omatKeikat">Omat keikat</a>
                <a href="/tulevatKeikat">Tulevat keikat</a>
                <a href="/newGig">Lisää keikka</a>
                </div>
        </li>
        <li><a href="/userinfo">Oma profiilisi</a></li>
        <li><a href="/logout">Kirjaudu ulos</a></li>
</ul>

<br>
<div class="backgroundGradient">

<form action="/gigEdited" method="POST">
{% for tieto in tiedot %}
<input type="hidden" name="keikkaid" value="{{ tieto [0] }}">
<p>Keikan nimi:<br>
<input type="text" name="nimi" value="{{ tieto[1] }}"></p>
<br>
<p>Päivämäärä:<br>
<input type="date" name="pvm" value="{{ tieto[2] }}"></p>
<br>
<p>Kellonaika:<br>
<input type="time" name="aika" value="{{ tieto[3] }}"></p>
<br>
<p>Paikka:<br>
<input type="text" name="paikka" value="{{ tieto[4] }}"></p>
<br>
<p>Vapaamuotoinen kuvaus:<br>
<input type="text" name="kuvaus" value="{{ tieto[5] }}"></p>
<br>
{% endfor %}
<p>Kokoonpano:<br>
<input type="radio" name="kokoonpano" value="Koko_orkesteri">Koko orkesteri
<input type="radio" name="kokoonpano" value="Jouset">Jouset
<input type="radio" name="kokoonpano" value="Puut">Puut
<input type="radio" name="kokoonpano" value="Vasket">Vasket</p>
<br>
<input type="submit" value="Tallenna">
</form>

<br>
<a href="/keikkasivu">Peruuta</a>
{% endif %}
</div>
</body>
</html>

