
{% extends "layout.html" %}

{% if session.user_id %}

{% block head %}{{ super() }}{% endblock %}

{% block content %}
{{ super() }}
<div class="backgroundGradient">
<h2>Muokkaa keikan tietoja</h2>

<form action="/gigEdited" method="POST">
{% for tieto in tiedot %}
<input type="hidden" name="id" value="{{ tieto [0] }}">
<p>Keikan nimi:<br>
<input type="text" name="name" value="{{ tieto[1] }}"></p>
<br>
<p>Päivämäärä:<br>
<input type="date" name="date" value="{{ tieto[2] }}"></p>
<br>
<p>Kellonaika:<br>
<input type="time" name="time" value="{{ tieto[3] }}"></p>
<br>
<p>Paikka:<br>
<input type="text" name="place" value="{{ tieto[4] }}"></p>
<br>
<p>Vapaamuotoinen kuvaus:<br>
<input type="text" name="descr" value="{{ tieto[5] }}"></p>
<br>
{% endfor %}
<p>Kokoonpano:<br>
<input type="radio" name="comp" value="Koko_orkesteri">Koko orkesteri
<input type="radio" name="comp" value="Jouset">Jouset
<input type="radio" name="comp" value="Puut">Puut
<input type="radio" name="comp" value="Vasket">Vasket</p>
<br>
<input type="submit" value="Tallenna">
</form>

<br>
<a href="/gig_index">Peruuta</a>
</div>
{% endblock %}

{% endif %}

