
{% extends "layout.html" %}

{% if session.user_id %}

{% block head %}{{ super() }}{% endblock %}

{% block content %}
{{ super() }}
<div class="backgroundGradient">
<h2>Muokkaa keikan tietoja</h2>

<form action="/gigEdited" method="POST">
{% for i in gig_info %}
<input type="hidden" name="id" value="{{ i [0] }}">
<p>Keikan nimi*:<br>
<input type="text" name="name" value="{{ i[1] }}" required></p>
<br>
<p>Päivämäärä*:<br>
<input type="date" name="date" value="{{ i[2] }}" required></p>
<br>
<p>Kellonaika*:<br>
<input type="time" name="time" value="{{ i[3] }}" required></p>
<br>
<p>Paikka:<br>
<input type="text" name="place" value="{{ i[4] }}"></p>
<br>
<p>Vapaamuotoinen kuvaus:<br>
<input type="text" name="descr" value="{{ i[5] }}"></p>
<br>
<p>Kokoonpano:<br>
<input type="radio" name="comp" value="Koko_orkesteri"{% if i[6] == "Koko orkesteri" %}checked{% endif %}>Koko orkesteri
<input type="radio" name="comp" value="Jouset"{% if i[6] == "Jouset" %}checked{% endif %}>Jouset
<input type="radio" name="comp" value="Puut"{% if i[6] == "Puut" %}checked{% endif %}>Puut
<input type="radio" name="comp" value="Vasket"{% if i[6] == "Vasket" %}checked{% endif %}>Vasket</p>
<br>
{% endfor %}
<input type="submit" value="Tallenna">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>

<br>
<a href="/upcoming_gigs">Peruuta</a>
</div>
{% endblock %}

{% endif %}

