<title>SOSSun keikkasovellus!</title>

<h2>Muokkaa tietojasi</h2>

{% if session.user_id %}
<form action="/userUpdated" method="POST">

Käyttäjätunnus: {{session.username}}
<br>

<p>Soittimesi:</p>
<br>
<input type="radio" name="soitin" value="1">Viulu 1 
<input type="radio" name="soitin" value="2">Viulu 2
<input type="radio" name="soitin" value="3">Alttoviulu
<input type="radio" name="soitin" value="4">Sello
<input type="radio" name="soitin" value="5">Huilu
<input type="radio" name="soitin" value="6">Klarinetti
<input type="radio" name="soitin" value="7">Alttosaxofoni
<input type="radio" name="soitin" value="8">Tenorisaxofoni
<input type="radio" name="soitin" value="9">Trumpetti
<input type="radio" name="soitin" value="10">Käyrätorvi
<input type="radio" name="soitin" value="11">Pasuuna
<input type="radio" name="soitin" value="14">Bassopasuuna
<input type="radio" name="soitin" value="12">Basso
<input type="radio" name="soitin" value="13">Rummut
<br>
<br>
Osallistutko aktiivisesti tällä kaudella orkesterin toimintaan: <br>
<br>
<p>
<input type="radio" name="active" value="True">Kyllä
<input type="radio" name="active" value="False">Ei
<p>
<input type="submit" value="Lähetä">
<br>
</form>
<a href="/userinfo">Palaa profiiliin</a>
<br>

<a href="/">Palaa etusivulle</a>

{% endif %}
