<! DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/static/style.css">
</head>

<title>SOSSun keikkasovellus!</title>

<body>
<ul>
        <li><a href="/">Etusivu</a></li>
        <li class="dropdown">
                <a href="/keikkasivu" class="dropbtn">Keikkasivu</a>
                <div class="dropdown-content">
                <a href="/omatKeikat">Omat keikat</a>
                <a href="/tulevatKeikat">Tulevat keikat</a>
		{% if session.role == 'admin' %}
                <a href="/newGig">Lisää keikka</a>
                {% endif %}
                </div>
        </li>
        <li><a href="/userinfo">Oma profiilisi</a></li>
        {% if session.role == 'admin' %}
        <li><a href="/admin">Admin</a></li>
        {% endif %}
        <li><a href="/logout">Kirjaudu ulos</a></li>
</ul>

<div class="backgroundGradient">

<h2>Muokkaa tietojasi</h2>

{% if session.user_id %}
<form action="/userUpdated" method="POST">

Käyttäjätunnus: {{session.username}}
<br>

<p>Soittimesi:</p>
<br>
{% for i in instr %}
<input type="checkbox" name="soitin" value="{{ i[0] }}">{{ i[1] }}<br>
{% endfor %}
<br>
<br>
Osallistutko aktiivisesti tällä kaudella orkesterin toimintaan: <br>
<br>
<p>
<input type="radio" name="active" value="True">Kyllä
<input type="radio" name="active" value="False">Ei
<p>
<br>
<b>Huom!</b> 
<p> Jos olet jo ilmoittautunut keikalle soittimella jota et enää soita, ei ilmoittautumisesi poistu vaikka poistaisitkin soittimen tiedoistasi!</p>
<p>Muistathan siis perua mahdolliset turhat ilmoittautumiset Omat keikat -osiosta!</p> 
<input type="submit" value="Lähetä">
<br>
</form>
<a href="/userinfo">Peruuta</a>
<br>

{% endif %}
</div>
</body>
</html>
