{% extends "layout.html" %}

{% if session.user_id %}

{% block head %}{{ super() }}{% endblock %}

{% block content %}
{{ super() }}

<div class="backgroundGradient">
<br>
<h3> Keikkasivu</h3>
<br>
<p>Täällä voit ilmoittautua tuleville keikoille! </p><br>
<p><a href="/my_gigs">Omat keikat</a> -sivulla näet keikat, joille olet ilmoittautunut. Keikan kokooonpanoa klikkaamalla näet ketkä muut ovat ilmoittautuneet. Tätä kautta pääset myös poistamaan oman ilmoittautumisesi haluamaltasi keikalta.</p></br>
<p><a href="/upcoming_gigs">Tulevat keikat</a> -sivulla näet keikat, joille et ole vielä ilmoittautunut. 
{% if session.role == 'admin' %}
<h3>Huomio admin!</h3><br>
<p>Voit lisätä järjestelmään uuden keikan Keikkasivu-valikon painikkeesta "Lisää keikka".</p><br>
<p>Tulevat keikat -sivulla voit poistaa keikan tai muokata sen tietoja.</p>
{% endif %}
</div>
{% endblock %}

{% endif %}

