{% extends "layout.html" %}

{% if session.user_id %}

{% block head %}{{ super() }}{% endblock %}

{% block content %}
{{ super() }}

<div class="backgroundGradient">
<form action="/reg_complete" method="POST">

<h3>Ilmoittautuminen keikalle</h3>
<br>
{% for i in info %}
<input type="hidden" name="id" value="{{ i[0] }}">
<p> Olet ilmoittautumassa keikalle {{ i[1] }}.</p><br>
<p> Tämän keikan kokoonpanoksi on ilmoitettu: {{ i[6] }}</p><br>
{% endfor %}
<br>
Soittimesi:
<br>
{% for i in instruments %}
<input type="radio" name="instr" value="{{ i }}">{{ i }}
{% endfor %}
<br> 
<input type="submit" value="Ilmoittaudu"><br>
<br>
<a href="/upcoming_gigs">Peruuta</a>
</div>
{% endblock %}

{% endif %}
