<! DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/static/style.css">
</head>

<title>SOSSun keikkasovellus!</title>

{% if session.user_id %}
<body>
<ul>
        <li><a href="/">Etusivu</a></li>
        <li class="dropdown">
                <a href="/keikkasivu" class="dropbtn">Keikkasivu</a>
                <div class="dropdown-content">
                <a href="/omatKeikat">Omat keikat</a>
                <a href="/tulevatKeikat">Tulevat keikat</a>
                <a href="/newGig">Lisää keikka</a>
                </div>
        </li>
        <li><a href="/userinfo">Oma profiilisi</a></li>
        <li><a href="/logout">Kirjaudu ulos</a></li>
</ul>

<br>
<div class="backgroundGradient">
<form action="/ilmoDone" method="POST">

<h3>Ilmoittautuminen keikalle</h3>
<br>
{% for t in tiedot %}
<input type="hidden" name="id" value="{{ t[0] }}">
<p> Olet ilmoittautumassa keikalle {{ t[1] }}.</p><br>
<p> Tämän keikan kokoonpanoksi on ilmoitettu: {{ t[6] }}</p><br>
{% endfor %}
<br>
Soittimesi:
<br>
{% for s in soittimet %}
<input type="radio" name="soitin" value="{{ s }}">{{ s }}
{% endfor %}
<br> 
<input type="submit" value="Ilmoittaudu"><br>
<br>
<a href="/keikkasivu">Peruuta</a>
{% endif %}
</div>
</body>
</html>
