<! DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/static/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<title>SOSSun keikkasovellus!</title>

{% if session.user_id %}
<body>
<ul>
	<li><a href="/">Etusivu</a></li>
	<li class="dropdown">
		<a href="/gig_index" class="dropbtn">Keikkasivu</a>
		<div class="dropdown-content">
		<a href="/my_gigs">Omat keikat</a>
		<a href="/upcoming_gigs">Tulevat keikat</a>
		{% if session.role == 'admin' %}
                <a href="/newGig">Lisää keikka</a>
                {% endif %}
		</div>
	</li>
	<li><a href="/userinfo">Oma profiilisi</a></li>
        {% if session.role == 'admin' %}
        <li><a href="/admin">Admin</a></li>
        {% endif %}
	<li><a href="/logout">Kirjaudu ulos</a></li>
</ul>
<br>
<div class="backgroundGradient">
<p>Tervetuloa {{session.username}}! </p><br>
<p>Tässä sovelluksessa voit ilmoittautua orkesterin keikoille.</p><br>
<p>Klikkaa <a href="/gig_index">Keikkasivua</a> nähdäksesi lisätietoa ilmoittautumisjärjestelmän toiminnasta.</p><br>
<p>Muistathan päivittää soittamasi soittimet omaan profiiliisi!</p>
</div>
</body>

{% else %}

<body>
<div class="backgroundGradient">
<br>
<h1>SOSSun keikkasovellus</h1>
<br>
<h2>Tervetuloa, kirjaudu sisään!</h2>
<br>
{% if error %}
	<div class="errorBox">
	<strong>{{error}}</strong>
	</div>
	<br>	
{% endif %}
<form action="/login" method="POST">
<p>Käyttäjätunnus:<br>
<input type="text" name="username"></p>
<p>Salasana:<br>
<input type="password" name="password"></p>
<input type="submit" value="Kirjaudu">
</form>
<br>
<a href="/register">Luo uusi tunnus tästä</a>
{% endif %}
</div>
</body>
</html>
