<! DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/static/style.css">
</head>
<title>SOSSun keikkasovellus!</title>

{% if session.user_id %}
<body>
<div class="indexBar">
	<a class="active" href="/">Etusivu</a>
	<a href="/keikkasivu">Keikkasivu</a>
	<a href="/userinfo">Oma profiilisi</a>
	<a href="/logout">Kirjaudu ulos</a>
</div>
<div class="backgroundGradient">
<p>Tervetuloa {{session.username}}! Tässä sovelluksessa voit ilmoittautua orkesterin keikoille</p>
</div>
</body>

{% else %}

<body>
<b>Tervetuloa, kirjaudu sisään!</b>
<div class="backgroundGradient">
<form action="/login" method="POST">
<p>Käyttäjätunnus:<br>
<input type="text" name="username"></p>
<p>Salasana:<br>
<input type="password" name="password"></p>
<input type="submit" value="Kirjaudu">
</form>

<a href="/register">Luo uusi tunnus tästä</a>
{% endif %}
</div>
</body>
</html>
