<! DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/static/style.css">
</head>

<title>SOSSun keikkasovellus!</title>

{% if session.user_id %}
<body>
<ul>
        <li><a href="/">Etusivu</a></li>
        <li class="dropdown">
                <a href="/keikkasivu" class="dropbtn">Keikkasivu</a>
                <div class="dropdown-content">
                <a href="/omatKeikat">Omat keikat</a>
                <a href="/tulevatKeikat">Tulevat keikat</a>
                <a href="/newGig">Lisää keikka</a>
                </div>
        </li>
        <li><a href="/userinfo">Oma profiilisi</a></li>
        <li><a href="/logout">Kirjaudu ulos</a></li>
</ul>

<br>
<div class="backgroundGradient">
<br>
<h3> Keikkasivu</h3>
<br>
<p>Täällä voit ilmoittautua tuleville keikoille! </p><br>
<p><a href="/omatKeikat">Omat keikat</a> -sivulla näet keikat, joille olet ilmoittautunut. Keikan kokooonpanoa klikkaamalla näet ketkä muut ovat ilmoittautuneet. Tätä kautta pääset myös poistamaan oman ilmoittautumisesi haluamaltasi keikalta.</p></br>
<p><a href="/tulevatKeikat">Tulevat keikat</a> -sivulla näet keikat, joille et ole vielä ilmoittautunut. 
{% endif %}
</div>
</body>
</html>

