<! DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/static/style.css">
</head>

<title>SOSSun keikkasovellus!</title>

{% if session.user_id %}

<body>
<div class="indexBar">
        <a href="/">Etusivu</a>
        <a class="active" href="/keikkasivu">Keikkasivu</a>
	 <a href="/userinfo">Oma profiilisi</a>
        <a href="/logout">Kirjaudu ulos</a>
</div>
<br>
<div class="backgroundGradient">
{% for tieto in kt %}

<h3>{{ tieto[1] }}</h3>
<br>
Päivämäärä: {{ tieto[2] }}
<br>
Aika: {{ tieto[3] }}
<br>
Keikkapaikka: {{ tieto[4] }}
<br>
{% endfor %}
Keikan kokoonpano:

{% endif %}
</div>
</body>
</html>

