{% extends "layout.html" %}

{% if session.user_id %}

{% block head %}{{ super() }}{% endblock %}

{% block content %}
{{ super() }}
<div class="backgroundGradient">

{% if message %}
	<div class="errorBox">
	<p><strong>{{message}}</strong></p>
	</div>
	<br>
{% endif %}

<h2>Omat keikat</h2>
<table class="mygig_table">
        <thead>
        <tr>
                <th>Keikka</th>
                <th>Päivämäärä</th>
                <th>Aika</th>
                <th>Paikka</th>
                <th>Kuvaus</th>
                <th>Kokoonpano</th>
                <th></th>
        </thead>
        {% for gig in gig_list %}
        <tr>
                <td>{{ gig[1] }}</td>
                <td>{{ gig[2] }}</td>
                <td>{{ gig[5] }}</td>
                <td>{{ gig[3] }}</td>
                <td>{{ gig[4] }}</td>
                <td><a href="/composition?skp={{ gig[6] }}&amp;sid={{ gig [0] }}">{{ gig[6] }}</td>
                <td><a href="/del?sid={{ gig[0] }}" onclick="return confirm('Tahdotko varmasti poistaa ilmoittautumisesi keikalle {{ gig[1] }}?');">Poista ilmottautumisesi</td>
        </tr>
        {% endfor %}
</table>
<br>

</div>
{% endblock %}

{% endif %}
