<! DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/static/style.css">
</head>

<title>SOSSun keikkasovellus!</title>

{% if session.user_id %}
<body>
<ul>
        <li><a href="/">Etusivu</a></li>
        <li class="dropdown">
                <a href="/keikkasivu" class="dropbtn">Keikkasivu</a>
                <div class="dropdown-content">
                <a href="/omatKeikat">Omat keikat</a>
                <a href="/tulevatKeikat">Tulevat keikat</a>
                <a href="/newGig">Lisää keikka</a>
                </div>
        </li>
        <li><a href="/userinfo">Oma profiilisi</a></li>
        <li><a href="/logout">Kirjaudu ulos</a></li>
</ul>

<br>
<div class="backgroundGradient">
<h3>OMAT KEIKAT</h3>
<table>
        <thead>
        <tr>
                <th>Keikka</th>
                <th>Päivämäärä</th>
                <th>Aika</th>
                <th>Paikka</th>
                <th>Kuvaus</th>
                <th>Kokoonpano</th>
                <th></th>
                <th></th>
        </thead>
        {% for keikka in keikat %}
        <tr>
                <td>{{ keikka[1] }}</td>
                <td>{{ keikka[2] }}</td>
                <td>{{ keikka[5] }}</td>
                <td>{{ keikka[3] }}</td>
                <td>{{ keikka[4] }}</td>
                <td><a href="/kokoonpano?skp={{ keikka[6] }}&amp;sid={{ keikka [0] }}">{{ keikka[6] }}</td>
                <td><a href="/del?sid={{ keikka[0] }}">Poista ilmottautumisesi</td>
        </tr>
        {% endfor %}
</table>
<br>
{% endif %}
</div>
</body>
</html>
