<title>SOSSun keikkasovellus!</title>

<h1>Rekisteröityminen keikkasovellukseen</h>

<p>Täällä voit luoda uudet tunnukset. Käytä käyttäjätunnuksenasi orkesterinimeäsi, tai sen puuttuessa omaa etunimeäsi!</p>


{% if session.username %}
<p>Olet kirjautunut nimellä {{ session.username }}</p>
<a href="/logout">Kirjaudu ulos</a>

{% else %}
<form action="/register" method="POST">
<p>Käyttäjätunnus:<br>
<input type="text" name="username"></p>
<p>Salasana:<br>
<input type="password" name="password"></p>
<br>
<input type="submit" value="Rekisteröidy">
</form>

<a href="/">Peruuta</a>
{% endif %}
