<! DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/static/style.css">
</head>
<body>
<title>SOSSun keikkasovellus!</title>
<div class="backgroundGradient">
<h1>Rekisteröityminen keikkasovellukseen</h1>

<p>Täällä voit luoda uudet tunnukset. Käytä käyttäjätunnuksenasi orkesterinimeäsi, tai sen puuttuessa omaa etunimeäsi!</p>
<br>
{% if session.user_id %}
<p>Olet jo kirjautunut nimellä {{ session.username }}</p>
<a href="/logout">Kirjaudu ulos</a>

{% else %}
<form action="/register" method="POST">
<p>Käyttäjätunnus*:<br>
<input type="text" name="username" required></p>
<p>Salasana*:<br>
<input type="password" name="password1" required></p>
<p>Syötä salasana uudestaan*:<br>
<input type="password" name="password2" required></p>
<br>
<p><b>*: pakollinen kenttä</b></p><br>
<input type="submit" value="Rekisteröidy">
</form>
<br>
<a href="/">Peruuta</a>
{% endif %}
</div>
</body>
</html>

