<! DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/static/style.css">
</head>

<title>SOSSun keikkasovellus!</title>

{% if session.user_id %}
<body>
<ul>
        <li><a href="/">Etusivu</a></li>
        <li class="dropdown">
                <a href="/keikkasivu" class="dropbtn">Keikkasivu</a>
                <div class="dropdown-content">
                <a href="/omatKeikat">Omat keikat</a>
                <a href="/tulevatKeikat">Tulevat keikat</a>
		{% if session.role == 'admin' %}
                <a href="/newGig">Lisää keikka</a>
                {% endif %}
                </div>
        </li>
        <li><a href="/userinfo">Oma profiilisi</a></li>
        {% if session.role == 'admin' %}
        <li><a href="/admin">Admin</a></li>
        {% endif %}
        <li><a href="/logout">Kirjaudu ulos</a></li>
</ul>

<br>
<div class="backgroundGradient">

<h3>TULEVAT KEIKAT</h3>
<table>
        <thead>
        <tr>
                <th>Keikka</th>
                <th>Päivämäärä</th>
                <th>Aika</th>
                <th>Paikka</th>
                <th>Kuvaus</th>
                <th>Kokoonpano</th>
                <th></th>
                <th></th>
        </thead>
        {% for keikka in keikat %}
        <tr>
                <td>{{ keikka[1] }}</td>
                <td>{{ keikka[2] }}</td>
                <td>{{ keikka[5] }}</td>
                <td>{{ keikka[3] }}</td>
                <td>{{ keikka[4] }}</td>
		<td><a href="/kokoonpano?skp={{ keikka[6] }}&amp;sid={{ keikka [0] }}">{{ keikka[6] }}</td>
                <td><a href="/gigReg?sid={{ keikka[0] }}">Ilmoittaudu keikalle</td>
       		 {% if session.role == 'admin' %}              
		<td><a href="/editGig?sid={{ keikka[0] }}">Muokkaa</td><!-- vain admin -->
                <td><a href="/deleteGig?sid={{ keikka[0] }}" onclick="return confirm('Tahdotko varmasti poistaa keikan {{ keikka[1] }}?');">Poista</td><!-- vain admin -->
       		{% endif %}
	 </tr>
        {% endfor %}
</table>
<br>
<br>

{% endif %}
</div>
</body>
</html>
