{% extends "layout.html" %}

{% if session.user_id %}

{% block head %}{{ super() }}{% endblock %}

{% block content %}
{{ super() }}

<div class="backgroundGradient">

{% if message %}
	<div class="errorBox">
	<p><strong>{{message}}</p></strong>
	</div>
	<br>
{% endif %}

<h2>Tulevat keikat</h2>
<table>
        <thead>
        <tr>
                <th>Keikka</th>
                <th>Päivämäärä</th>
                <th>Aika</th>
                <th>Paikka</th>
                <th>Kuvaus</th>
                <th>Kokoonpano</th>
                <th></th>
                <th></th>
        </thead>
        {% for gig in gig_list %}
        <tr>
                <td>{{ gig[1] }}</td>
                <td>{{ gig[2] }}</td>
                <td>{{ gig[5] }}</td>
                <td>{{ gig[3] }}</td>
                <td>{{ gig[4] }}</td>
		<td><a href="/composition?skp={{ gig[6] }}&amp;sid={{ gig [0] }}">{{ gig[6] }}</td>
                <td><a href="/gigReg?sid={{ gig[0] }}">Ilmoittaudu keikalle</td>
       		 {% if session.role == 'admin' %}              
		<td><a href="/editGig?sid={{ gig[0] }}">Muokkaa</td><!-- vain admin -->
                <td><a href="/deleteGig?sid={{ gig[0] }}" onclick="return confirm('Tahdotko varmasti poistaa keikan {{ gig[1] }}?');">Poista</td><!-- vain admin -->
       		{% endif %}
	 </tr>
        {% endfor %}
</table>
<br>
<br>
</div>
{% endblock %}

{% endif %}
