
<! DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/static/style.css">
</head>

<title>SOSSun keikkasovellus!</title>

{% if session.user_id %}
<body>
<div class="indexBar">
        <a href="/">Etusivu</a>
        <a href="/keikkasivu">Keikkasivu</a>
        <a class="active" href="/userinfo">Oma profiilisi</a>
        <a href="/logout">Kirjaudu ulos</a>
</div>
<br>
<div class="backgroundGradient">
Käyttäjätunnus: {{session.username}}
<br>
Soittimesi: 
{% for i in instrument %}
{{ i }}
{% endfor %}

<br>
Aktiivinen tällä kaudella: {{state}}
<br>
<br>
<a href="/edit_user">Muokkaa tietojasi</a>
<br>

{% endif %}
</div>
</body>
</html>
